@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
body{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'SF UI Text', sans-serif;
}
#menu-bar {
    background-color: white;
}
#main-menu a {
    color: black;
}
.menu-brand.light {
    display: none;
}
#scroll-indication {
    position: fixed;
    top: 40vh;
    z-index: 9;
    right: 0;
}
#scroll-indication .item {
    margin-bottom: 4vh;
}
#scroll-indication hr {
    border: none;
    color: #635E7C;
    background-color: #635E7C;
    height: 1px;
    width: 50px;
    margin-right: 0;
    transition-duration: 1s;
}
#scroll-indication hr.active {
    color: red;
    height: 1px;
    width: 100px;
    background-image: linear-gradient(90deg, #390C2D, #B51B27, #381184);
    transition-duration: 1s;
}
#div-social {
    top:40px;
    width: 23vw;
    position: relative;
    left:calc(50% - 9vw);
    padding-bottom: 5vw;
}
#div-social .social{
    border: 0;
    width: unset;
}
#div-social a{
    color: black;
    position: static;
    text-decoration: none;
}

.screen {
    color: #000000;
    background-color: white;
    padding-top: 80px;
}
#screen-1 {
    height: 200vh;
}
#screen-1 .content {
    position: relative;
    top: calc(15vh - 80px);
    width: 39vw;
    left: 31vw;
}
#screen-1 .item1 {
    width: 80px;
    padding-bottom: 30px;
}
.hr-color {
    background: #FFD003;
    padding: 20px;
    border-radius: 20px;
}
#screen-1 .item2 {
    font-size: 2.4vw;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 2.7vw;
    width: 75%;
}
#screen-1 .item3{
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    width: 79%;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
#screen-1 .item4{
    font-size: 1.07vw;
    font-style: italic;
    font-weight: 300;
    line-height: 1.4;
    width: 60%;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}
#screen-1 .item5{
    font-size: 1.14vw;
    padding-bottom: 30px;
    font-weight: 300;
}
#screen-1 .item6{
    padding-bottom: 20px;
}
#screen-1 .item6 img{
    width: 100%;
}
#screen-1 .item7 {
    font-size: 1.14vw;
    padding-bottom: 30px;
    font-weight: 300;
}
#screen-1 .item8 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 5vw;
}
#screen-1 .item8 iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
