body::-webkit-scrollbar{
    width: 0;
}
body{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.menu-brand.dark {
    display: none;
}
#main-menu a{
    color: white;
}
#button-toggle span{
    background-color: white;
}
#screen-1 .scroll-pointer a span {
    border: 2px solid #fff;
}
#screen-2 .scroll-pointer a span {
    border: 2px solid #000;
}
#screen-1 .scroll-pointer a span::before {
    background-color: #fff;
    animation: sdp 2s infinite;
    -webkit-animation: sdp 2s infinite;
}
#screen-2 .scroll-pointer a span::before {
    background-color: #000;
    animation: sup 2s infinite;
    -webkit-animation: sup 2s infinite;
}

.dots-pointer {
    display: none;
    text-align: center;
    left: calc(50% - 5px);
    bottom: 40px;
    position: absolute;
}
.dots-pointer span{
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin-top: 8px;
}
.dots-pointer span:nth-child(2){
    opacity: 0.7;
}

#screen-1 {
    color: #ffffff;
    background-image: url('../img/img0-page0-screen1.png');
    background-position: 86% 60%;
    background-repeat: no-repeat;
    background-size: 145%;
    background-color: #171e29;
}
#screen-1 .content {
    position: absolute;
    left: 11.30208333vw;
    bottom: 74px;
    width: 50%;
}
#screen-1 .item1 {
    position: relative;
    width: 1.41vw;
    padding-bottom: 2.4vw;
}
#screen-1 .item2 {
    position: relative;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 2.71vw;
    width: 32.14vw;
    letter-spacing: 0.07vw;
    padding-bottom: 2.4vw;
}
#screen-1 .item3 {
    position: relative;
    font-size: 1.14vw;
    width: 100%;
    letter-spacing: 0.01vw;
    font-weight: 300;
    font-style: normal;
}

#screen-2 {
    background-color: white;
    color: #000000;
}
.figure-mobile {
    display: none;
    position: absolute;
    top: calc(50% - 140px);
    left: calc(50% - 140px);
    opacity: 0.4;
}
.figure-mobile img{
    vertical-align: middle;
    border-style: none;
    width: 140%;
}
#menu-mobile {
    display: none;
    position: absolute;
    top: calc(50% - 107px);
    left: calc(50% - 76px);
}
#menu-mobile ul{
    text-align: center;
    padding-left: 0;
}
#menu-mobile ul li:nth-child(1),
#menu-mobile ul li:nth-child(2)
{
    margin-bottom: 47px;
}
#menu-mobile ul li a {
    text-decoration: none;
    color: black;
    font-size: 27px;
}
#screen-2 .content {
    max-width: 55.203vw;
    margin-left: auto;
    margin-right: auto;
}
#screen-2 .content a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#screen-2 .content .item {
    text-align: center;
}
#screen-2 .footer .social a {
    color: black;
}

@media (min-width: 0px) and (max-width: 329px) and (orientation:portrait) {
    .menu-brand {
        width: 120px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar div.lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    #screen-1 {
        background-position: 100% 136%;
        background-size: 165%;
    }
    #screen-1 .content {
        top: 36%;
        width: 62vw;
        left: calc(50% - 31vw);
        text-align: center;
    }
    #screen-1 .item1 {
        width: 12px;
    }
    #screen-1 .item2 {
        display: block;
        font-size: 5vw;
        font-weight: 600;
        line-height: 6vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left:0;
        padding-bottom: 3vh;
    }
    #screen-1 .item3 {
        font-size: 3vw;
        font-style: italic;
    }
    .scroll-pointer {
        display: none;
    }
    #screen-1 #arrow-down-pointer {
        display: none;
    }
    .dots-pointer{
        display: block;
    }
    #div-social {
        display: none;
    }
    .copyright {
        display: none;
    }
    .figure-mobile {
        display: block;
        top: calc(50% - 50vw);
        left: 0;
        width: 100%;
    }
    .figure-mobile img{
        width: 100%;
    }
    #menu-mobile {
        display: block;
        top: calc(50% - 33vw);
        left: calc(50% - 22vw);
    }
    #menu-mobile ul {
        margin-bottom: 0;
    }
    #menu-mobile ul li:nth-child(1),
    #menu-mobile ul li:nth-child(2)
    {
        margin-bottom: 15vw;
    }
    #menu-mobile ul li a {
        font-size: 8vw;
    }
    #screen-2 .content {
        display: none;
    }
    #arrow-up-pointer {
        left: calc(50% - 8px);
        bottom: 40px;
    }
}

@media (min-width: 0px) and (max-width: 329px) and (orientation:landscape) {
    #pull-out-menu div.menu {
        margin-top: 70px;
        margin-left: 10px;
    }
    #pull-out-menu div.menu a{
        margin-bottom: 0;
        font-size: 23px;
    }
    .menu-lang {
        bottom: 30px;
        right: 0;
        left: unset;
    }
    .menu-lang a{
        font-size: 16px;
        margin-right: 32px;
    }
    .menu-brand {
        width: 120px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar div.lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    #screen-1 {
        background-position: 100% 15%;
        background-size: 135%;
    }
    #screen-1 .content {
        top: 36%;
        width: 62vw;
        left: calc(50% - 31vw);
        text-align: center;
    }
    #screen-1 .item1 {
        width: 12px;
    }
    #screen-1 .item2 {
        display: block;
        font-size: 5vw;
        font-weight: 600;
        line-height: 4vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left:0;
        padding-bottom: 3vh;
    }
    #screen-1 .item3 {
        font-size: 3vw;
        font-style: italic;
    }
    .scroll-pointer {
        display: none;
    }
    #screen-1 #arrow-down-pointer {
        display: none;
    }
    .dots-pointer{
        display: block;
    }
    #div-social {
        display: none;
    }
    .copyright {
        display: none;
    }
    .figure-mobile {
        display: block;
        top: calc(50% - 14vw);
        left: calc(50% - 16vw);
        width: 32vw;
    }
    .figure-mobile img{
        width: 100%;
    }
    #menu-mobile {
        display: block;
        top: calc(50% - 47px);
        left: calc(50% - 45px);
    }
    #menu-mobile ul li:nth-child(1),
    #menu-mobile ul li:nth-child(2)
    {
        margin-bottom: 26px;
    }
    #menu-mobile ul li a {
        font-size: 18px;
    }
    #screen-2 .content {
        display: none;
    }
    #arrow-up-pointer {
        left: calc(50% - 8px);
        bottom: calc(4% + 0px);
    }
}

@media (min-width: 330px) and (max-width: 767px) and (orientation:portrait) {
    .menu-brand {
        width: 120px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    #screen-1 {
        background-position: 100% 136%;
        background-size: 165%;
    }
    #screen-1 .content {
        top: 36%;
        width: 62vw;
        left: calc(50% - 31vw);
        text-align: center;
    }
    #screen-1 .item1 {
        width: 12px;
    }
    #screen-1 .item2 {
        display: block;
        font-size: 5vw;
        font-weight: 600;
        line-height: 6vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left:0;
        padding-bottom: 3vh;
    }
    #screen-1 .item3 {
        font-size: 3vw;
        font-style: italic;
    }
    .scroll-pointer {
        display: none;
    }
    .dots-pointer{
        display: block;
    }
    #div-social {
        display: none;
    }
    .figure-mobile {
        display: block;
        top: calc(50vh - 165px);
        left: calc(50vw - 165px);
        width: 330px;
    }
    .figure-mobile img{
        width: 100%;
    }
    #menu-mobile {
        display: block;
        top: calc(50% - 107px);
        left: calc(50% - 76px);
    }
    #menu-mobile ul {
        margin-bottom: 0;
    }
    #menu-mobile ul li:nth-child(1),
    #menu-mobile ul li:nth-child(2)
    {
        margin-bottom: 47px;
    }
    #menu-mobile ul li a {
        font-size: 27px;
    }
    #screen-2 .content {
        display: none;
    }
}

@media (min-width: 330px) and (max-width: 767px) and (orientation:landscape) {
    #pull-out-menu .menu {
        margin-top: 70px;
        margin-left: 40px;
    }
    #pull-out-menu .menu a{
        margin-bottom: 0;
        font-size: 25px;
    }
    .menu-lang {
        bottom: 30px;
        right: 0;
        left: unset;
    }
    .menu-lang a{
        font-size: 16px;
        margin-right: 32px;
    }
    .menu-brand {
        width: 120px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    #screen-1 {
        background-position: 100% 15%;
        background-size: 135%;
    }
    #screen-1 .content {
        top: 36%;
        width: 62vw;
        left: calc(50% - 31vw);
        text-align: center;
    }
    #screen-1 .item1 {
        width: 12px;
    }
    #screen-1 .item2 {
        display: block;
        font-size: 5vw;
        font-weight: 600;
        line-height: 4vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left:0;
        padding-bottom: 3vh;
    }
    #screen-1 .item3 {
        font-size: 3vw;
        font-style: italic;
    }
    .scroll-pointer {
        display: none;
    }
    .dots-pointer{
        display: block;
    }
    #div-social {
        display: none;
    }
    .figure-mobile {
        display: block;
        top: calc(50% - 14vw);
        left: calc(50% - 16vw);
        width: 32vw;
    }
    .figure-mobile img{
        width: 100%;
    }
    #menu-mobile {
        display: block;
        top: calc(50% - 47px);
        left: calc(50% - 45px);
    }
    #menu-mobile ul li:nth-child(1),
    #menu-mobile ul li:nth-child(2)
    {
        margin-bottom: 26px;
    }
    #menu-mobile ul li a {
        font-size: 18px;
    }
    #screen-2 .content {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation:portrait) {
    #pull-out-menu .menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu .menu a{
        margin-bottom: 2vh;
        font-size: 6vw;
    }
    .menu-lang {
        display: none;
    }
    .menu-brand {
        width: 120px;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        right: 4%;
    }
    #button-toggle {
        display: block;
        right: calc(50% - 18px);
    }
    #screen-1 .content {
        left: 4%;
    }
    .scroll-pointer {
        display: none;
    }
    #div-social {
        right: 4%;
        width: 28.5%;
    }
    #screen-2 .content {
        position: absolute;
        margin-top: 0vh;
        max-height: 70vh;
        max-width: calc(70vh/3 - 32px);
        top: calc(50vh - 70vh/2 - 6vh);
        left: calc(50vw - (70vh/3 - 62px)/2);
    }
    #screen-2 .content .item{
        padding: 0;
    }
    #screen-2 #div-social {
        right: 4%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation:landscape) and (max-height: 767px){
    #pull-out-menu .menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu .menu a{
        margin-bottom: 2vh;
        font-size: 3vw;
    }
    .menu-lang {
        display: none;
    }
    .menu-brand {
        width: 120px;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    #screen-1 {
        background-position: 100% 15%;
        background-size: 135%;
    }
    #screen-1 .content {
        left:4%;
    }
    .scroll-pointer {
        display: none;
    }
    .dots-pointer{
        display: block;
    }
    #div-social {
        width: 28.5vw;
        right: 4vw;
    }
    .figure-mobile {
        display: block;
        top: calc(50% - 14vw);
        left: calc(50% - 16vw);
        width: 32vw;
    }
    .figure-mobile img{
        width: 100%;
    }
    #menu-mobile {
        display: block;
        top: calc(50% - 47px);
        left: calc(50% - 45px);
    }
    #menu-mobile ul li:nth-child(1),
    #menu-mobile ul li:nth-child(2)
    {
        margin-bottom: 26px;
    }
    #menu-mobile ul li a {
        font-size: 18px;
    }
    #screen-2 .content {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation:landscape) and (min-height: 768px){
    #pull-out-menu .menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu .menu a{
        margin-bottom: 2vh;
        font-size: 3vw;
    }
    .menu-lang {
        display: none;
    }
    .menu-brand {
        width: 120px;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        right: 4%;
    }
    #button-toggle {
        display: block;
        right: calc(50% - 18px);
    }
    #screen-1 .content {
        left: 4%;
    }
    .scroll-pointer {
        display: none;
    }
    #div-social {
        right: 4%;
        width: 28.5vw;
    }
    #screen-2 .content {
        position: absolute;
        margin-top: 0vh;
        max-height: 70vh;
        max-width: calc(70vh/3 - 36px);
        top: calc(50vh - 70vh/2 - 6vh);
        left: calc(50vw - (70vh/3 - 66px)/2);
    }
    #screen-2 .content .item{
        padding: 0;
    }
    #screen-2 #div-social {
        right: 4%;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    #pull-out-menu .menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu .menu a{
        margin-bottom: 2vh;
        font-size: 3vw;
    }
    .menu-lang {
        display: none;
    }
    .menu-brand {
        width: 120px;
    }
    #main-menu ul {
        width: 600px;
    }
    #main-menu li {
        margin-left: 23px;
    }
    .scroll-pointer {
        display: none;
    }
}

