@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
body{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'SF UI Text', sans-serif;
}
#menu-bar {
    background-color: white;
}
#main-menu a {
    color: black;
}
.menu-brand.light {
    display: none;
}
#scroll-indication {
    position: fixed;
    top: 40vh;
    z-index: 9;
    right: 0;
}
#scroll-indication .item {
    margin-bottom: 4vh;
}
#scroll-indication hr {
    border: none;
    color: #635E7C;
    background-color: #635E7C;
    height: 1px;
    width: 50px;
    margin-right: 0;
    transition-duration: 1s;
}
#scroll-indication hr.active {
    color: red;
    height: 1px;
    width: 100px;
    background-image: linear-gradient(90deg, #390C2D, #B51B27, #381184);
    transition-duration: 1s;
}
#div-social {
    top:40px;
    width: 23vw;
    position: relative;
    left:calc(50% - 9vw);
    padding-bottom: 5vw;
}
#div-social .social{
    border: 0;
    width: unset;
}
#div-social a{
    color: black;
    position: static;
    text-decoration: none;
}

.screen {
    color: #000000;
    background-color: white;
    padding-top: 80px;
}
#screen-1 {
    height: 200vh;
}
#screen-1 .content {
    position: relative;
    top: calc(15vh - 80px);
    width: 39vw;
    left: 31vw;
}
#screen-1 .item1 {
    width: 80px;
    padding-bottom: 30px;
}
.hr-color {
    background: #FFD003;
    padding: 20px;
    border-radius: 20px;
}
#screen-1 .item2 {
    font-size: 2.4vw;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 2.7vw;
    width: 75%;
}
#screen-1 .item3{
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    width: 79%;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
#screen-1 .item4{
    font-size: 1.07vw;
    font-style: italic;
    font-weight: 300;
    line-height: 1.4;
    width: 60%;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}
#screen-1 .item5{
    font-size: 1.14vw;
    padding-bottom: 30px;
    font-weight: 300;
}
#screen-1 .item6{
    padding-bottom: 20px;
}
#screen-1 .item6 img{
    width: 100%;
}
#screen-1 .item7 {
    font-size: 1.14vw;
    padding-bottom: 30px;
    font-weight: 300;
}
#screen-1 .item8 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 5vw;
}
#screen-1 .item8 iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 0px) and (max-width: 329px) and (orientation:portrait) {
    .menu-brand {
        width: 120px;
        opacity: 0.9;
        left: 4%;
    }
    .menu-brand:hover {
        width: 121px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    .scroll-pointer {
        display: none;
    }
    #arrow-down-pointer {
        left: calc(50% - 8px);
        bottom: 40px;
    }
    #div-social {
        display: none;
    }
    .copyright {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 329px) and (orientation:landscape) {
    #pull-out-menu .menu {
        margin-top: 70px;
        margin-left: 10px;
    }
    #pull-out-menu .menu a{
        margin-bottom: 0;
        font-size: 23px;
    }
    .menu-lang {
        bottom: 30px;
        right: 0;
        left: unset;
    }
    .menu-lang a{
        font-size: 16px;
        margin-right: 32px;
    }

    .menu-brand {
        width: 120px;
        opacity: 0.9;
        left: 4%;
    }
    .menu-brand:hover {
        width: 121px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    .scroll-pointer {
        display: none;
    }
    #arrow-down-pointer {
        left: calc(50% - 8px);
        bottom: calc(4% + 0px);
    }
    #div-social {
        display: none;
    }
    .copyright {
        display: none;
    }
}

@media (min-width: 330px) and (max-width: 767px) and (orientation:portrait) {
    .menu-brand {
        width: 120px;
        opacity: 0.9;
        left: 4%;
    }
    .menu-brand:hover {
        width: 121px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar div.lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    .scroll-pointer {
        display: none;
    }
    #arrow-down-pointer {
        left: calc(50% - 8px);
        bottom: 40px;
    }
    #div-social {
        display: none;
    }
    .copyright {
        display: none;
    }
}

@media (min-width: 330px) and (max-width: 767px) and (orientation:landscape) {
    #pull-out-menu .menu {
        margin-top: 70px;
        margin-left: 40px;
    }
    #pull-out-menu .menu a{
        margin-bottom: 0;
        font-size: 25px;
    }
    .menu-lang {
        bottom: 30px;
        right: 0;
        left: unset;
    }
    .menu-lang a{
        font-size: 16px;
        margin-right: 32px;
    }
    .menu-brand {
        width: 120px;
        opacity: 0.9;
        left: 4%;
    }
    .menu-brand:hover {
        width: 121px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    .scroll-pointer {
        display: none;
    }
    #arrow-down-pointer {
        left: calc(50% - 8px);
        bottom: calc(4% + 0px);
    }
    #div-social {
        display: none;
    }
    .copyright {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation:portrait) {
    #pull-out-menu .menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu .menu a{
        margin-bottom: 2vh;
        font-size: 6vw;
    }
    .menu-lang {
        display: none;
    }
    .menu-brand {
        width: 120px;
        opacity: 0.9;
        left: 4%;
    }
    .menu-brand:hover {
        width: 121px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        right: 4%;
    }
    #button-toggle {
        display: block;
        right: calc(50% - 18px);
    }
    #arrow-down-pointer {
        left: calc(50% - 8px);
        bottom: 80px;
    }
    #div-social {
        right: 4%;
        bottom: 80px;
    }
    .copyright {
        left: calc(50% - 14.2vw);
        bottom: 40px;
        font-size: 1.3vw;
    }
    #div-social.dark {
        right: 4%;
        bottom: 80px;
    }
    #div-social.dark i{
        color: #000;
    }
    #div-social.dark div.social{
        border: 1px solid black;
    }
    .copyright.black {
        left: calc(50% - 14.2vw);
        font-size: 1.3vw;
        bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation:landscape) and (min-height: 768px){
    #pull-out-menu .menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu .menu a{
        margin-bottom: 2vh;
        font-size: 3vw;
    }
    .menu-lang {
        display: none;
    }
    .menu-brand {
        width: 120px;
        opacity: 0.9;
        left: 4%;
    }
    .menu-brand:hover {
        width: 121px;
        opacity: 1;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #menu-bar .lang {
        right: 4%;
    }
    #button-toggle {
        display: block;
        right: calc(50% - 18px);
    }
    .scroll-pointer {
        display: none;
    }
    #arrow-down-pointer {
        left: calc(50% - 8px);
        bottom: 80px;
    }
    #div-social {
        right: 4%;
        bottom: 80px;
    }
    .copyright {
        left: calc(50% - 14.2vw);
        bottom: 40px;
        font-size: 1.3vw;
    }
    #div-social.dark {
        right: 4%;
        bottom: 80px;
    }
    #div-social.dark i{
        color: #000;
    }
    #div-social.dark div.social{
        border: 1px solid black;
    }
    .copyright.black {
        left: calc(50% - 14.2vw);
        bottom:40px;
        font-size: 1.3vw;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation:landscape) and (max-height: 767px){
    #pull-out-menu .menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu .menu a{
        margin-bottom: 2vh;
        font-size: 3vw;
    }
    .menu-lang {
        display: none;
    }
    #menu-bar .lang {
        display: none;
    }
    .menu-brand {
        width: 120px;
        opacity: 0.9;
        left: 4%;
    }
    #main-menu {
        display: none;
    }
    #button-toggle {
        display: block;
        right: 5%;
    }
    .scroll-pointer {
        display: none;
    }
    #arrow-down-pointer {
        left: calc(50% - 8px);
        bottom: calc(4% + 0px);
    }
    #div-social {
        display: none;
    }
    .copyright {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    #pull-out-menu div.menu {
        margin-top: 10vw;
        margin-left: 8vh;
    }
    #pull-out-menu div.menu a{
        margin-bottom: 2vh;
        font-size: 3vw;
    }
    .menu-lang {
        display: none;
    }

    .menu-brand {
        width: 120px;
        opacity: 0.9;
    }
    #main-menu ul {
        width: 600px;
    }
    #main-menu li {
        margin-left: 23px;
    }
    .scroll-pointer {
        display: none;
    }
    #div-social {
        bottom: 80px;
    }
    #div-social.dark {
        right: 11.5%;
        bottom: 80px;
    }
    #div-social.dark i{
        color: #000;
    }
    #div-social.dark .social{
        border: 1px solid black;
    }
    #arrow-down-pointer {
        left: 50%;
        bottom: 80px;
    }
    .copyright {
        left: calc(50% - 14.2vw);
        bottom: 40px;
        font-size: 1.3vw;
    }
}

